body {
    width: 1440px;
    min-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 1340px;
    margin: 92px 50px 92px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    align-items: center;
    padding: 27px 0px 2px 2px;
}

.header__menu {
    width: 388px;
    display: flex;
    align-items: center;
    
}

.header__links-list {
    display: flex;
    list-style: circle;
    gap: 32px;
    font-size: 18px;
    text-underline-offset: 4px;
   
}

.header__link {
    
    text-decoration: none;  

}

.header__link_active {
    text-decoration: underline;
}

.header__logo {
    width: 148px;
    height: 105px;
    justify-self: center;
    margin-bottom: 2px;
    margin-right: 1px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.header__links-list-item_no-bullit {
    list-style: none;  
}

.address {
    justify-self: end;
    color: #000;
    font-family: Raleway, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    text-underline-offset: 4px;
}

.contacts__address {
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: #000;
    font-family: Raleway, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.cover {
    width: 1440px; 
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 50px; 
     
}

.overlay {
    opacity: 0.6;
    background: #000;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.cover__title {
    color: #fff;
    font-family: Raleway, serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase;
    padding-top: 165px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 1;
}

.aligned-text {
    display: block;
    text-align: left;
    position: relative;
    z-index: 1;
   
}

.aligned-text_center {
    display: block;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 4px;
    position: relative;
    z-index: 1;
    
}

.aligned-text_right {
    display: block;
    text-align: right;
    position: relative;
    z-index: 1;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    padding-right: 50px;
    gap: 76px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 128px;  
}

.cover__description-text {
    color: #fff;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 127.273% */
    text-transform: uppercase;
    word-spacing: 18px;   
}

.bet-button {
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    background: none; 
}

.lots {
    width: 1340px;
    margin: 180px 50px 181px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 4px 0 0px;
}

.lots__heading {
    color: #000;
    font-family: Raleway, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 17px;
}

.lots__card-list {
    list-style: none;
    display: flex;
    gap: 25px;
}

.lots__card-list-item {
    min-width: 430px;
    min-height: 450px;
}

.card-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
}

.card__title {
    color: #fff;
    font-family: Raleway, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    margin: 50px 40px 0 40px;
}

.card__text {
    color: #fff;
    font-family: Raleway, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    position: relative;
    z-index: 2;
    margin: 0 40px 50px 40px;
}

.lots__look-more-link {
    color: #000;
    font-family: Raleway, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 40px;
    margin-top: 19px;
    text-underline-offset: 4px;
}

.about {
    width: 1340px;
    display: grid;
    margin: 0 50px;
    grid-template-columns: 430px auto;
    column-gap: 25px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__column-logo-img {
    justify-self: center;
}

.about__column-title-text {
    align-self: end;  
}

.about__title {
    color: #000;
    font-family: Raleway, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 100px;
    margin-top: 100px;
}

.about__text {
    color: #000;
    font-family: Raleway, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 26px;
}

.about__text:last-child {
    margin-bottom: 0;
}

footer {
    width: 1340px;
    margin: 178px 50px 90px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.adress_footer {
    justify-self: start;
}

.footer__menu-list {
    list-style: none;
    text-underline-offset: 4px;
    color: #000;
    text-align: center;
    font-family: Raleway, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    gap: 48px;
    list-style: none;
    justify-content: flex-end;
}

.footer__social-link {
    display: block;
    width: 48px;
    height: 48px;
}
